<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <nav>
        <% include ../partials/nav.ejs %>
      </nav>
    </header>
    <main class="container-fluid">
      <div class="border rounded">
        <div class="jumbotron bg-white">
          <div class="float-right">
            <% if(foundUser.img === undefined) { %>
              <img width="150px" class="img-thumbnail rounded" src="/<%= currentUser.img %>" alt="">
            <% } else { %>
              <img width="150px" class="img-thumbnail rounded" src="/<%= foundUser.img %>" alt="">
          <% } %></br>
            <a class="btn btn-secondary btn-sm" href="/pictures/" id="pic-button" role="button">Change Photo</a>
          </div></br>
          <h1 class="display-4">Hello, <%= foundUser.firstName %></h1>
          <p class="lead">About Me:</p>
            <p class="lead"><%= foundUser.bio %></p>
            <hr class="my-4">
            <a class="btn btn-secondary btn-sm" href="/members/<%= foundUser.userName %>/edit" role="button">Edit Profile</a>
            <!-- <p></p> -->
          </div>
          <a class="btn btn-primary btn-lg btn-block" href="/party-rooms/create" role="button">Create Party Room</a>
          <div class="table-responsive">
          <table class="table table-light">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Room Name</th>
                <th scope="col">Description</th>
                <th scope="col">Visit</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
              <tbody>
                <% foundUser.rooms.forEach((partyRoom, index)=> { %>
                  <tr>
                  <th scope="row"><%= index %></th>
                  <td><%=partyRoom.roomName%></td>
                  <td><%=partyRoom.description%></td>
                  <td><a class="btn btn-success btn-sm" role="button" href="/party-rooms/party/<%=partyRoom.nameSpace%>">Visit</a></td>
                  <td><a class="btn btn-info btn-sm" role="button" href="/party-rooms/<%=partyRoom._id%>/edit">Edit</a></td>
                  <td>    <form action="/party-rooms/<%= partyRoom._id %>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-warning btn-sm" role="button">Delete</button>
                    </form></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
            <a class="btn btn-light btn-block" href="/party-rooms/" role="button">View All Chat Rooms</a>
        </div>
    </main>
    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
